* {
    padding: 0;
    margin: 0;
    font-family: Gadget, sans-serif;
    font-size: 14px;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    background-color: #272727;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#graph {
    margin: 5px;
    display: grid;
    position: relative;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    height: calc(100vh - 12px);
    width: calc(100vw - 35px);
    border: 1px solid #fff;
}

span {
    margin: auto 0 0 0;
    background-color: #4dab7c;
    justify-content: space-evenly;
    height: 100px;
}

.average {
    position: absolute;
    width: 100vw;
    border: 2px dashed #ffffff85;
    border-style: none none dotted none;
    color: #fff;
    text-align: right;
    font-weight: 900;
}

.std {
    position: absolute;
    width: 100vw;
    border: 2px dashed #00ffff85;
    border-style: none none dotted none;
    color: #00ffff;
    text-align: right;
    font-weight: 500;
}